<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Decision Support System Client</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="client.js"> 
     import { findAll } from './client.js';
     import { findById } from './client.js';
     import { updateId } from './client.js';
     import { deleteId } from './client.js';
     //import { getIndexById } from './client.js';
    </script>
</head>

<body onload="init()">
    <h1>Decision Support System Client</h1>
<div>
<textarea id="txtarea" rows="8" cols="50" readonly> </textarea>
</div>

<label for="indices">Index:</label>
<select name="indices" id="indices">
  <option value="complete">Full portfolio</option>
  <option value="SP_500">SP_500</option>
  <option value="FTSE_MIB">FTSE_MIB</option>
  <option value="GOLD_SPOT">GOLD_SPOT</option>
  <option value="MSCI_EM">MSCI_EM</option>
  <option value="MSCI_EURO">MSCI_EURO</option>
  <option value="All_Bonds">All_Bonds</option>
  <option value="US_Treasury">US_Treasury</option>
</select>
<div>
<input id="indexButton" type="button" value="Forecast" onclick="getIndexById();" />
</div>
<div id="charts">
</div>
</body>

</html>