<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Decision Support System </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="client.js"> </script>

      <style>
		body{
		  background-color: rgb(248, 248, 248);	
		}
        .myDiv {
          border: 5px ;
          
          text-align: center;
          padding: 15px;
        }
        .child_Div{
          text-align: center;	
          padding: 15px;
        }
		#charts{
			margin: auto;
  			width: 50%;
  			padding: 10px;

		}
		
        </style>
</head>

<body onload="init()">
    <h2 class="child_Div" > FINANCIAL INDICE PREVISION </h2>
<div class="child_Div">  
<textarea id="txtarea" rows="12" cols="120" readonly> </textarea>
</div>

<div class="child_Div"> 
<label for="indices">Indices:</label>
<select name="indices" id="indices">
  <option value="complete">select...</option>
  <option value="SP_500">SP_500</option>
  <option value="FTSE_MIB">FTSE_MIB</option>
  <option value="GOLD_SPOT">GOLD_SPOT</option>
  <option value="MSCI_EM">MSCI_EM</option>
  <option value="MSCI_EURO">MSCI_EURO</option>
  <option value="All_Bonds">All_Bonds</option>
  <option value="US_Treasury">US_Treasury</option>
</select>

<div> 

<div class="myDiv">
	<input  id="indexButton" type="button" value="Forecasting by serie" onclick="findById();"/>
	<input type="button" id="portafoglioButton" value="Generate portafoglio" onclick="portfoglio_asset();" />  
</div>
<div id="charts" >
</div>
 
</body>

</html>